#container{
display:grid;
grid-template-columns: 10px, 10px, 10px, 10px;
grid-template-rows: 10px, 10px, 10px, 10px;
align-content: space-between;
}

#screen{
grid-column:1/4;
background-color: white;
border:black solid 1px;
height:30px;
}

button{
margin-left:5px;
margin-top:5px;
}